

label {
    margin-top: 10px;
    display: block;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
    color: #445069;
}

input {
    padding: 10px;
    border: 5px solid #96B6C5;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header1 {
    background-color: #96B6C5;
    color: #FFF6DC;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    border-radius: 10px;
}

.input-section {
    display: flex;
    flex-direction: column;
}

input:focus {
    border-color: #65451F;
}

.button-calculate {
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    background: #373B44;
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    background: linear-gradient(to right, #4286f4, #373B44);
    cursor: pointer;
}

.button-calculate:hover {
    background: #F3904F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B4371, #F3904F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button-calculate:active {
    transform: translateY(-5px);
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.tinggi-input,.alas-input{
    width: 200px;
}
/* Untuk menghilangkan panah stepper */
.positive-number::-webkit-inner-spin-button,
.positive-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Untuk memastikan input tetap rapi */
.positive-number {
  -moz-appearance: textfield;
  appearance: textfield;
}

.container {
    width: 100%;
  }
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.image-container img{
    width: 400px;
    height: auto;
}
.math-formula{
    font-size:18px;
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    text-align: center;
}
.formula {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}
